body {
  width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: left;
}

img {
  max-width: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-nav,
.advantages,
.list-footer,
.image-form li {
  list-style: none;
}

.list-nav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  text-align: center;
}

.center {
  justify-content: center;
}

.list-nav a {
  color: #000000;
}

.list-nav a:hover,
.title-hotel:hover {
  color: #81b3d2;
}

.list-nav a:active,
.title-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating-hotel {
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}

.title-sedona {
  width: 440px;
  height: 48px;
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.first-title-advantages,
.second-title-advantages {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.five-advantages {
  width: 489px;
  height: 13px;
}

.five-advantages,
.data-travel {
  color: #333333;
  text-align: center;
}

.title-advantages {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.description-advantages {
  color: #333333;
  text-align: center;
}

.interested {
  font-size: 30px;
  font-weight: bold;
}

.tag,
.phone {
  color: #000000;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
}

.title-sort {
  font-weight: bold;
}

.unit-sort {
  color: #ffffff;
}

.button-show {
  text-transform: uppercase;
}

.search-filter {
  font-size: 21px;
  font-weight: bold;
}

.unit-search-filter {
  font-size: 12px;
}

.title-hotel {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.more {
  font-weight: bold;
}

.reservation {
  color: #ffffff;
  font-weight: bold;
}

.main-image {
  width: 1200px;
  height: 773px;
  display: flex;
  justify-content: center;
  background-image: url("../img/background-photo.jpg");
  background-color: #81b3d2;
}

.first-advantages,
.second-advantages {
  display: flex;
}


.present-city,
.bridge-diablo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-advantages {
  display: flex;
}

.book-sedona {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-footer {
  display: flex;
  justify-content: space-around;
}

.logo {
  position: absolute;

}

.logo-footer:hover {
  color: #81b3d2;
}

.logo-footer:active {
  color: #bdbbbc;
}

.search-sedona,
.reservation {
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-sedona:hover,
.reservation:hover {
  background-color: #604e43;
}

.search-sedona:active,
.reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.data,
.adults,
.children {
  font-weight: bold;
}

.data-in,
.data-out {
  background-color: #f2f2f2;
}

.data-in:hover,
.data-out:hover {
  background-color: #ebebeb;
}

.data-in:focus,
.data-out:focus {
  background-color: #ffffff;
  outline-color: #ffffff;
}

.plus,
.minus {
  background-color: #f2f2f2;
  color: #cacaca;
  border: none;
  outline: #f2f2f2;
}

.plus:hover,
.minus:hover {
  background-color: #f2f2f2;
  color: #000000;
  outline: #f2f2f2;
}

.plus:active,
.minus:active {
  background-color: #f2f2f2;
  color: #81b3d2;
  outline: #f2f2f2;
}

.find-button {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.more {
  color: #ffffff;
  background-color: #81b3d2;
}

.find-button:hover,
.more:hover {
  background-color: #669ec0;
  outline: #f2f2f2;
}

.find-button:active,
.more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: #81b3d2;
}

.image-form {
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
}

.button-show {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #ffffff;
  border-radius: 2px;

}

.button-show:hover {
  color: #000;
  background-color: #fffff;
  border: solid 2px #ffffff;
  border-radius: 2px;
}

/*.unit-sort input {
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #ffffff;
} */

.unit-search-filter a {
  color: rgba(0, 0, 0, 0.3);
}

.unit-search-filter a:hover {
  color: #81b3d2;
}

.unit-search-filter a:active {
  color: #000000;
}
